p {
  font-size: 17px;
  font-family: 'Exo', sans-serif;
}

.navbar-inverse {
  border-radius: 0;
}

.content {
  margin-top: auto;
}

/*===========Brand=================*/
.navbar-inverse .navbar-brand {
  font-family: 'Shrikhand', cursive;
  font-size: 25px;
  color: #606060;
  text-shadow: 5px 5px 5px #1C1C1C;
}

/*========Section Home====================*/
#section-home .page-header {
  border-bottom: 1px solid #1C1C1C;
  text-shadow: 0px 5px 5px #1C1C1C;
}

#section-home {
  color: #1C1C1C;
}

/*=======Section Knowledge================*/
#section-knowledge .page-header {
  border-bottom: 1px solid #1C1C1C;
  text-shadow: 0px 5px 5px #1C1C1C;
}

#section-knowledge {
  color: #1C1C1C;
}

/*========Section Portfolio===============*/
#section-portfolio .page-header {
  border-bottom: 1px solid #1C1C1C;
  text-shadow: 0px 5px 5px #1C1C1C;
}

#section-portfolio {
  color: rgb(221, 221, 221);
}

#section-portfolio .thumbnail {
  border-radius: 0px;
  height: 400px;
  background-color: rgb(243, 243, 243);
}

#section-portfolio .thumbnail .btn-position {
  position: absolute;
  top: 90%;
  left: 0%;
}

#section-portfolio img {
  height: 130px;
}

/*=============Section Contact===============*/
#section-contact .page-header {
  border-bottom: 1px solid #1C1C1C;
  text-shadow: 0px 5px 5px #1C1C1C;
}

#section-contact {
  /*background-image: url("../img/coding.jpg");*/
}
